<% layout('./layouts/boilerplate') -%>

    <body>
        <div class="form-container">
            <h1>Edit Listing</h1>
            <form action="/listing/<%= data._id %>?_method=PUT" method="post">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input name="listing[title]" type="text" value="<%= data.title %>" required>
                </div>

                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea name="listing[description]" rows="10" cols="50"
                        required><%= data.description %></textarea>
                </div>

                <div class="form-group">
                    <label for="image">Image:</label>
                    <input name="listing[image]" type="text" value="<%= data.image %>" required>
                </div>

                <div class="form-group">
                    <label for="price">Price:</label>
                    <input name="listing[price]" type="number" value="<%= data.price %>" required>
                </div>

                <div class="form-group">
                    <label for="location">Location:</label>
                    <input name="listing[location]" type="text" value="<%= data.location %>" required>
                </div>

                <div class="form-group">
                    <label for="country">Country:</label>
                    <input name="listing[country]" type="text" value="<%= data.country %>" required>
                </div>

                <button class="edit-button" type="submit">UPDATE</button>
            </form>
        </div>

    </body>