<% layout('./layouts/boilerplate') -%>

    <body>
        <div class="listing-container">
            <h1 class="listing-title">
                <%= data.title %>
            </h1>
            <div class="listing-image">
                <img src="<%= data.image %>" alt="Image of <%= data.title %>">
            </div>
            <div class="listing-details">
                <h3 class="listing-description">
                    <%= data.description %>
                </h3>
                <h2 class="listing-price">&#8377; <%= data.price.toLocaleString("en-IN") %>
                </h2>
                <h3 class="listing-location">Location: <%= data.location %>, <%= data.country %>
                </h3>
            </div>
            <div class="listing-actions">
                <form action="/listing/<%= data._id %>/edit" method="get">
                    <button class="edit-button">Edit</button>
                </form>
                <form action="/listing/<%= data._id %>?_method=DELETE" method="post">
                    <button class="delete-button">Delete Listing</button>
                </form>
            </div>
        </div>
    </body>