<% layout('./layouts/boilerplate') -%>

    <body>
        <%if(success && success.length){%>
            <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
                <%= success %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <%}%>
        <% if (typeof error !== "undefined" && error.length) { %>
            <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
                <%= error %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
        <div class="listing-container">
            <h1 class="listing-title">
                <%= data.title %>
            </h1>
            <div class="listing-image">
                <img src="<%= data.image %>" alt="Image of <%= data.title %>">
            </div>
            <div class="listing-details">
                <h3 class="listing-description">
                    <p><b>Owned by <i><%= data.owner.username %></i></b></p>
                    <%= data.description %>
                </h3>
                <h2 class="listing-price">&#8377; <%= data.price.toLocaleString("en-IN") %>
                </h2>
                <h3 class="listing-location">Location: <%= data.location %>, <%= data.country %>
                </h3>
            </div>
            <%if(currUser && currUser._id.equals(data.owner._id)){%>
                <div class="listing-actions">
                    <form action="/listing/<%= data._id %>/edit" method="get">
                        <button class="edit-button">Edit</button>
                    </form>
                    <form action="/listing/<%= data._id %>?_method=DELETE" method="post">
                        <button class="delete-button">Delete Listing</button>
                    </form>
                </div>
                    
            <%}%>
            
            <hr>
            <br>
            <div class="ListingReview-container">
                <form action="/listing/<%= data._id %>/review" method="post" class="ListingReview-form"  >
                    <div class="ListingReview-heading">
                        <h2>Leave a review</h2>
                    </div>
                    <div class="ListingReview-rating">
                        <label for="rating">Rating: </label>
                        <input type="range" min="1" max="5" name="review[rating]" class="ListingReview-input" >
                    </div>
                    <div class="ListingReview-comment">
                        <label for="comment">Comment: </label>
                        <textarea name="review[comment]" id="comment" cols="100" rows="10" class="ListingReview-textarea" required></textarea>
                    </div>
                    <button class="ListingReview-submit">SUBMIT</button>
                </form>
            </div>   
            <hr>
            <div class="reviews-container">
                <h2>Rating and Reviews</h2>
                <%for (r of data.reviews ){%>
                <div class="reviews-container-div">
                <h3 class="reviews-container-rating"><%= r.rating %>⭐</h3>
                <h4 class="reviews-container-comment"><%= r.comment %></h4> 
                <form action="/listing/<%= data.id%>/review/<%= r._id%>?_method=DELETE" method="post"><button>DELETE</button></form>
                </div>
                <%}%>
            </div>
            
        </div>
    </body>